.box {
    display: grid;
    height: 600px;
    width: 800px;
    border: 1px solid red;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 2fr 1fr;    
    padding: 20px; 
    background-color: lightgray;
   }
.box1 {
    height: 200px;
    width: 150px;
    border: 1px solid red;
    background-color: lightcoral;     
}

.box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 200px;
    width: 150px;
    border: 2px solid red; 
    background-color: blue;
    .i1 {
        height: 50px;
        width: 50px;
    }
}
.box21 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightblue;
    /* display: flex;
    align-items:  baseline;
    justify-content: flex-end;
    flex-direction: column; */
    .i1 {
        height: 50px;
        width: 50px;
    }

}
    .box22 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightpink;
    .i1 {
        
        height: 50px;
        width: 50px;
    }
    }
    .box23 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: red;
    .i1 {
        height: 50px;
        width: 50px;
    }
    }
    .box24 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightblue;
    .i1 {
        height: 50px;
        width: 50px;
    }
    
}

 .box3 {
    height: 200px;
    width: 150px;
    border: 1px solid green;
    background-color: rgb(144, 238, 144);
}
/* .box31 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightblue;
    display: flex;
    align-items:  baseline;
    justify-content: flex-end;
    flex-direction: column; 
    .i1 {
        height: 50px;
        width: 50px;
    }
    .box32 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightpink;
    .i1 {
        
        height: 50px;
        width: 50px;
    }
    }
    .i1 {
        height: 50px;
        width: 50px;
    }
    .box33 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightblue;
    
    }
    .i1 {
        height: 50px;
        width: 50px;
    }
    .box34 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightblue;
    
    .i1 {
        height: 50px;
        width: 50px;
    }
}

    align-items:  baseline;
    justify-content: flex-end;
    flex-direction: column; 
    .i1 {
        height: 50px;
        width: 50px;
    } */
.box4 {
    height: 200px;
    width: 150px;
    border: 1px solid yellow;
    background-color: lightyellow;

}
/* .box41 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightblue;
   
    .i1 {
        height: 50px;
        width: 50px;
    }
}
}
.box42 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightblue;
    .i1 {
        height: 50px;
        width: 50px;
    }
}
.box43 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightblue;
    .i1 {
        height: 50px;
        width: 50px;
    }
}
.box44 {
    height: 100px;
    width: 80px;
    border: 1px solid black; 
    background-color: lightblue;
    .i1 {
        height: 50px;
        width: 50px;
    }
}  */